version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: encomendas
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://admin:admin@postgres:5432/encomendas
      JWT_SECRET: troque_essa_chave
    volumes:
      - uploads:/app/src/uploads

volumes:
  pgdata:
  uploads:
