services:
  - type: web
    name: encomendas-app
    env: docker
    plan: free
    dockerfilePath: backend/Dockerfile
    dockerContext: .
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: encomendas-db
          property: connectionString
    buildCommand: npm install && npx prisma generate
    startCommand: npx prisma migrate deploy && node src/start.js

databases:
  - name: encomendas-db
    plan: free
